.Root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 10px;
}

.Settings {
  margin: 10px 0;
  width: 300px;
}

.Lists {
  display: flex;
  height: 400px;
  overflow: auto;
}

.CurrencyPairList {
  display: flex;
  width: 50%;
}

.RateLists {
  display: flex;
  width: 50%;
}

.CurrencyPairSelector {
  display: flex;
}

.ListDivider {
  width: 10px;
}


